html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

/*body {
  margin-bottom: 60px;
}
     Fix layout utama 
    body.toggle-sidebar .main {
        margin-left: 300px;
    }

.main {
    margin-top: 70px;
    padding: 20px;
    transition: all 0.3s;
}

 Responsive adjustment 
@media (max-width: 1199px) {
    .main {
        margin-left: 0 !important;
    }
}

 Perbaikan card 
.card {
    border-radius: 10px;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin-bottom: 30px;
}*/